html {
  font-size: 16px;
}
h3 {
  margin: 0;
}
.message {
  background-color: #0c0c31;
  color: #fff;
  padding: 72px 0;
}
.message-item {
  font-size: 3.5rem;
  font-weight: 500;
  letter-spacing: 4px;
}
.image-message {
  width: 100%;
  height: 100%;
  overflow: hidden;
  object-fit: cover;
  transition: all 0.2s linear;
}
.tt-message {
  padding-bottom: 40px;
}
.tittle-message {
  font-size: 1.8rem;
  font-weight: 400;
  margin: 4px;
}

.message-item-js {
  color: #ff335f;
  padding: 24px 0;
  font-weight: 700;
  font-size: 1.2rem;
}
.text-message {
  font-size: 1rem;
  line-height: 24px;
}
.message-name {
  font-size: 1.2rem;
  line-height: 28px;
}
.name-jp {
  font-size: 1.7rem;
  line-height: 48px;
}

@media (max-width: 992px) {
  .image-message {
    width: 100%;
    height: auto;
  }
  .message {
    padding: 72px 10px;
  }
  .message-items {
    text-align: center;
    font-size: 2rem;
    letter-spacing: 2px;
  }
  .tittle-message {
    text-align: center;
    font-size: 1.3rem;
  }
  .message-item-js {
    font-size: 1rem;
  }
  .message-name {
    font-size: 1rem;
    padding-top: 32px;
  }

  .name-jp {
    font-size: 1.4rem;
    line-height: 32px;
  }
  .tt-message {
    padding-bottom: 32px;
  }
}

@media (max-width: 768px) {
  .text-message {
    font-size: 0.9rem;
  }
}
